<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Kiosk Permissions -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".RoboTeacher"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoboTeacher"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SpikeActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|keyboard|keyboardHidden|locale"
            android:exported="true"
            android:screenOrientation="sensorLandscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.SelectClassActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|keyboard|keyboardHidden|locale"
            android:screenOrientation="sensorLandscape" /> <!-- <activity android:name=".MainActivity" -->
        <!-- android:exported="true" -->
        <!-- android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|keyboard|keyboardHidden|locale" -->
        <!-- android:screenOrientation="sensorLandscape" -->
        <!-- > -->
        <!-- &lt;!&ndash;            <intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt; -->
        <!-- &lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
        <!-- &lt;!&ndash;            </intent-filter>&ndash;&gt; -->
        <!-- </activity> -->
        <activity
            android:name=".activities.ChatActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|locale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" /> <!-- <activity android:name=".activities.ChatActivity2" -->
        <!-- android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|locale" -->
        <!-- android:windowSoftInputMode="adjustPan" -->
        <!-- android:screenOrientation="sensorLandscape"/> -->
        <activity
            android:name=".activities.ChoiceActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|keyboard|keyboardHidden|locale"
            android:exported="true"
            android:screenOrientation="sensorLandscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".activities.GeneralActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|keyboard|keyboardHidden|locale"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelectClassActivity2"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|keyboard|keyboardHidden|locale"
            android:exported="true"
            android:screenOrientation="sensorLandscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="com.anim.circleanim.SampleActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:node="remove">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="com.anim.spectrumprogress.SampleActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:node="remove">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity> <!-- <activity android:name=".activities.SampleActivity2" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="landscape"> -->
        <!-- &lt;!&ndash;                        <intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;                            <action android:name="android.intent.action.MAIN" />&ndash;&gt; -->
        <!-- &lt;!&ndash;                            <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
        <!-- &lt;!&ndash;                        </intent-filter>&ndash;&gt; -->
        <!-- </activity> -->
        <activity
            android:name=".activities.QuestionGeneratorActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.PdfActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|locale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.QuestionViewActivity" />
        <activity
            android:name=".activities.PdfListActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation|layoutDirection|locale"
            android:exported="true"
            android:screenOrientation="landscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity> <!-- <activity -->
        <!-- android:name=".activities.SplashActivity" -->
        <!-- android:exported="true" -->
        <!-- > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".activities.SplashActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- <category android:name="android.intent.category.HOME"/> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- </intent-filter> -->
        <!-- &lt;!&ndash;            <intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;                <category android:name="android.intent.category.MAIN"/>&ndash;&gt; -->
        <!-- &lt;!&ndash;            <category android:name="android.intent.category.HOME" />&ndash;&gt; -->
        <!-- &lt;!&ndash;            <category android:name="android.intent.category.DEFAULT" />&ndash;&gt; -->
        <!-- &lt;!&ndash;            </intent-filter>&ndash;&gt; -->
        <!-- </activity> -->
        <activity
            android:name=".activities.SampleActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->


            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".activities.AttendanceActivity"
            android:exported="true"
            android:screenOrientation="landscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".activities.PdfViewActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->


            <!-- </intent-filter> -->
        </activity> <!-- Kiosk -->
        <receiver
            android:name=".MyDeviceAdminReceiver"
            android:exported="false"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver> <!-- Device Boot -->
        <!-- <receiver android:name=".StartReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name=".services.QuestionGeneratorService"
            android:exported="false"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".StatusService"
            android:exported="false" />
    </application>

</manifest>